!!!
html(ng-app="myApp", ng-controller='AppCtrl')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title Test
		link(href='lib/bootstrap-css/css/bootstrap.css', rel='stylesheet')
		link(href='lib/jquery-ui/themes/smoothness/jquery-ui.css', rel='stylesheet')
		link(href='/css/app.css', rel='stylesheet')

		link(href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css', rel='stylesheet')			
		style.
			.glyphicon-thumbs-up { cursor:pointer }
	body
		div
			h2 Hello, Owen 
			ul.menu
				li
					a(href='/view1') Tracker
				li
					a(href='/view2') Analysis 
				li
					a(href='/view3') Chord Scale					
			div(ng-view)

		//- span
			a(href='#/posts/{{$index}}') Comments
			
		script(type='text/ng-template', id='/posts').
			<div class="page-header">
				<h3>
					<a ng-show="post.link" href="{{post.link}}">
					{{post.title}}
					</a>
					<span ng-hide="post.link">
					{{post.title}}
					</span>
				</h3>
			</div>
			<div ng-repeat="comment in post.comments | orderBy:'-upvotes'">
				<span class="glyphicon glyphicon-thumbs-up" ng-click="incrementUpvotes(comment)"></span>
				{{comment.upvotes}} - by {{comment.author}}
				<span style="font-size:20px; margin-left:10px;">
				{{comment.body}}
				</span>
			</div>
			
			<form ng-submit="addComment()" style="margin-top:30px;">
			<h3>Add a new comment</h3>
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Comment" ng-model="body"></input>
			</div>
			<button type="submit" class="btn btn-primary">Post</button>
			</form>			


	script(src='/js/lib/angular/angular.js')
	script(src='/js/app.js')
	script(src='/js/slider.js')    
	script(src='/js/services.js')
	script(src='/js/controllers.js')
	script(src='/js/filters.js')
	script(src='/js/directives.js')
	script(src='/js/factories.js')		
	script(src='//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js')
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
	


	script(src='lib/jquery/dist/jquery.js')
	script(src='lib/jquery-ui/ui/jquery-ui.js')
	script(src='lib/lodash/dist/lodash.js')
	script(src='lib/angular/angular.js')
	script(src='lib/angular-resource/angular-resource.js')
	script(src='lib/angular-route/angular-route.js')
	script(src='lib/angular-bootstrap/ui-bootstrap-tpls.js')
	script(src='lib/angular-ui-date/src/date.js')		
