.well(style="height: 250px; background-color: white;")


	h2 Chord Progression

	

	{{chordProgression}}
	br
	{{romanNumerals}}

a.button.btn.btn-default(ng-click="generateProgression()") Generate Progression

