.well(style="height: 250px; background-color: white;")


	h2 Rate your proficiency:

	br


	a.span.button.btn.btn-default(ng-click="rate()") 1
	a.span.button.btn.btn-default(ng-click="rate()") 2
	a.span.button.btn.btn-default(ng-click="rate()") 3
	a.span.button.btn.btn-default(ng-click="rate()") 4

a.button.btn.btn-default(href='/view1', ng-click="generateChordType()") Generate

