
.well(style="height: 250px; background-color: white;")

	.col-sm-6
		h2 Chord Type
		br
		{{chordType}}


	.col-sm-6
		
		h2 Intervals
		br
		{{intervals}}


a.button.btn.btn-default(href='/view1', ng-click="generate()") Generate

