
.jumbotron(style="width: 75%; text-align: center; margin: 0 auto; border-radius: 20px;")
	h1 Bucket

	p Name: {{name}}

	p Modes
	button.btn.btn-default Chords
	span.button.btn.btn-default Progression
	span.button.btn.btn-default Intervals
	br


	button.btn.btn-default Click me

	.well(style="height: 200px; border-radius:20px;")



